<NavLink href="@Uri" Match="@Match">
  <span class="oi @Icon" aria-hidden="true"></span> @Label
</NavLink>


@code {

  [Parameter]
  public string Label { get; set; }

  [Parameter]
  public string Icon { get; set; }

  [Parameter]
  public string Uri { get; set; }

  [Parameter]
  public NavLinkMatch Match { get; set; } = NavLinkMatch.All;

}
